<%= simple_form_for @pin, html: { multipart: true } do |f| %>
<% if @pin.errors.any? %>
<div id="errors">
  <%= pluralize(@pin.errors.count, "error") %>
  prevented this Pin from saving
  <ul>
    <% @pin.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>

<%= simple_form_for @pin, html: { multipart: true } do |f| %>

<div class="wrapper">

  <div class="header">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>

  <div class="sidebar">

  </div>

  <div class="content">
    <div class="desc">
      <%= f.input :description, input_html: { class: 'form-control', :id => 'desc'}  %>
    </div>
    <div class="s-image">
      <%= f.input :image, multiple: true,  as: :file, input_html: { class: 'form-control', :id => 'imgbox'}  %>
    </div>


    <div class="addon">
      <%= f.input :addon, input_html: { class: 'form-control', :id => 'addon' } %>
    </div>
  </div>

  <div class="footer">

<%= f.button :submit, 'Submit', class: "btn btn-success" %>
<%= link_to "Back", root_path, class: "btn btn-primary" %>

  </div>

</div>

<% end %>
