<!DOCTYPE html>
<html>
<head>
  <title>Operation Guideline</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navwrapper">
    <div class="navtitle">
      <%= link_to "The Board", root_path %>
    </div>

    <% if user_signed_in? %>

    <div class="nav-in">
      <div class="navbutton">
        <%= link_to "New Entry", new_pin_path %>
      </div>
      <div class="navbutton">
        <%= link_to "Account", edit_user_registration_path %>
      </div>
      <div class="navbutton">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </div>
    </div>

    <% else %>

    <div class="nav-in">
      <div class="navbutton">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>

      <div class="navbutton">
        <%= link_to "Sign In", new_user_session_path %>
      </div>
    </div>

    <% end %>

  </nav>

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

  <!-- CONTAINER -->

  <div class="container-fluid">
    <%= yield %>
  </div>

</body>

</html>
